@media screen and (min-width: 700px) {
  #mainGraphs {
    max-width: 69%;
    height: 72vh;
    margin-right: 1%;
    flex-direction: column
  }
  #pieChartsContainer {
    width: 30%;
    height: 72vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .graphBox {
    height: inherit
  }
  .column {
  }
  .graphBox3 {
      background: #EDF6FC;
      height: 35.4vh;
      min-width: 0;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .column .graphBox{
    width: 100%
  }
  .column .graphBox3{
    width: 100%
  }
  .graphBox {
    background: #EDF6FC;
    height: 35.4vh;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    min-width: 0;
  }
}
#header{
  background: #ffffff;
  padding: 0;
}
#dimensionSelector{
  background: #ffffff;
  alignItems: start;
  margin: 0;
}
body{
}
button{
}

.expandMap, .mapType{
    background-color: #fff;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

.mapType{
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.expandMap{
  border-bottom: 1px solid #ccc;
}

.expandMap:hover, .mapType:hover{
  background-color: rgba(51, 181, 229, 0.4);
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#mapBox{
  transition: 0.2s;
}
#graphsContainer{
  transition: 0.2s;
}
.leaflet-tooltip {
    position: absolute;
    padding: 4px;
    background-color: transparent;
    color: black;
    white-space: nowrap;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.info.legend.leaflet-control{
    padding: 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
