@media screen and (min-width: 700px) {
  #mainGraphs {
    max-width: 69%;
    height: 72vh;
    margin-right: 1%;
    flex-direction: column
  }
  #pieChartsContainer {
    width: 30%;
    height: 72vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .graphBox {
    height: inherit
  }
  .column {
  }
  .graphBox3 {
      background: #EDF6FC;
      height: 35.4vh;
      min-width: 0;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .column .graphBox{
    width: 100%
  }
  .column .graphBox3{
    width: 100%
  }
  .graphBox {
    background: #EDF6FC;
    height: 35.4vh;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    min-width: 0;
  }
}
