/*Scroll div on top of everything*/
#boxTop {
  background-color: lightblue;
  display: none;
  z-index: 1000;
  height: 30%;
  width: 30%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.30) 3px 2.2px 2.9px;
  overflow:auto;
  resize: both;
}
/*Scroll div on top of everything*/

/*Button submit dimensions selected*/
#buttonDimensionSelector{
  margin: 0;
  position: absolute;
  left: 50%;
}
/*Button submit dimensions selected*/

/*Container wraping list of classifiers*/
#checkBoxListContainer{
  margin: 10px;
}
/*Container wraping list of classifiers*/




/*Checkbox list*/
ul{
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  list-style-type: none;
}
/*Checkbox list*/



