/*Dimension selectors*/
.dimensionSelector{
  height: 15vh;
  width: 80%;
  margin: 1px;
  background-color: #bbb;
  border-radius: 10px;
}

/*Statistics selector box*/
#statisticsSelector{
 margin: 1px;
 height: 15vh;
 width: 20%;
 background-color: #bbb;
 width: 19.5%;
 border-radius: 10px;
}

/*Dropdown buttons*/
.dropdown-btn {
  float: left
}
#dropdown-btn {
  float: left
}


