/*Dimension selectors*/
.dimensionSelector{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 12%;
  width: 80vw;
  margin: 1px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #DBEDF9;
  gap: 10px;
}
/*Statistics selector box*/
#statisticsSelector{
 height: 12%;
 background-color: #DBEDF9;
 width: 20%;
}
/*Single dimensions selector box*/
#selectedVariables{
 width: 100%;
 text-align: center;
}
#dropdown-btn {
  float: left
}
#shareDashboardButton{
  margin-left: auto;
}
